<h3>Navigation</h3>
<ul class="side-nav left-nav">
  {{#link-to "worksheets" tagName='li' }}<a>Worksheets</a>{{/link-to}}
  {{#link-to "submissions" tagName='li' }}<a>Submissions</a>{{/link-to}}
  {{#link-to "account.edit" tagName='li' }}<a>Account</a>{{/link-to}}
</ul>
