<div class="row">
  <h1>Submissions</h1>
</div>
<div class="row">
  <ul class="side-nav">
    {{#each}}
      {{#link-to 'submissions.responses' id tagName='li'}}<a>{{name}}</a>{{/link-to}}
    {{/each}}
  </ul>
</div>

