
<div class="row text-center">
  <h1>Upload a new worksheet</h1>
  <form id="file_upload" enctype="multipart/form-data" action="" method="post">
    <input id="file_path" style="width:auto" type="file" name="file"><br>
    <input type="submit">
  </form> 
</div>
