<h1>Worksheets</h1>

<div class="container">
  {{#link-to 'worksheets.new' tagName='button'}}Create a new worksheet{{/link-to}}
</div>

<p><b>Current Worksheets</b></p>
<hr>

<ul class="side-nav">
  {{#each}}
    {{#link-to 'worksheet' id tagName="li"}}<a>{{name}}</a>{{/link-to}}
  {{/each}}
</ul>

