
  <h3>Worksheets {{#link-to 'worksheets.new' class='button tiny'}}New{{/link-to}}</h3>
  <ul class="side-nav left-nav">
    {{#each}}
      <li>
        <a style="float:right" {{action delete}}>Delete</a>
        {{#link-to 'worksheet' id styleBindings="display:inline-block"}}
          {{#if name}}
            {{name}}
          {{else}}
            Untitled
          {{/if}}
        {{/link-to}}
      </li>
    {{else}}
      <li class="empty-list">You currently have no worksheets.</li>
      {{#link-to 'worksheets.new' tagName='li'}}<a>Create a new worksheet.</a>{{/link-to}}
    {{/each}}
  </ul>


