<h2>Create/Edit Worksheets</h2>
<hr>
<i class="fa fa-arrow-left"></i> Select a worksheet from the list on the left to edit it.
<hr>
{{#link-to 'worksheets.new' class='button small'}}Create a new worksheet{{/link-to}}
