Create_response.hbs

  <button {{action "loadFields"}}>Load Fields</button>
  <button {{action "submitResponse"}}>Submit Response</button>
<div class="post_board">
  <img {{bind-attr src="url"}}>
</div>