<div data-alert class="alert-div"></div>
<h2 id="response-title">{{name}} <button class="submit-ws small" {{action "submitResponse"}}>Submit <i class="fa fa-upload"></i></button></h2>
<p>Fill in all of the blank fields, and press 'submit' to send your answers to your teacher.</p>
<hr>
<div class="post_board">
  <img {{bind-attr src="url"}}>
</div>
