<h3>Navigation</h3>
<ul class="side-nav left-nav">
  {{#link-to "todo" tagName='li' }}<a>To-Do</a>{{/link-to}}
  {{#link-to "completed" tagName='li' }}<a>Completed</a>{{/link-to}}
  {{#link-to "completed" tagName='li' }}<a>Account</a>{{/link-to}}
</ul>
