<section>
<meta name="viewport" content="width=device-width, user-scalable=yes">

<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Klassewerk</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="#">Log In</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Team</a></li>
    </ul>
  </section>
</nav>

</section>

<section id="hero">
  <div class="row text-center full-width">
    <div class="medium-8 columns small-centered">
      <h1 id="title">Klassewerk</h1> 
      <h4 id="tagline">A simple worksheet app for teachers and students.</h4>
    </div>
  </div>

  <div class="row buttons">
    <div class="medium-8 columns small-centered">
      <div class="row">
        <div class="medium-6 columns text-center">
          <h3>Students</h3>
          <a href="/auth/student_login" class="button full-width">Student Log In</a>
          <a href="/auth/student_signup" class="button success full-width">New Student</a>
        </div>
        <div class="medium-6 columns text-center">
          <h3>Teachers</h3>
          <a href="/auth/teacher_login" class="button full-width">Teacher Log In</a>
          <a href="/auth/teacher_signup" class="button success full-width">New Teacher</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="read-more">
    <div class="medium-8 columns small-centered text-center">
      <a href="#">
        <i class="fa fa-arrow-circle-o-down"></i>
      </a>
    </div>
  </div>
</section>

<section id="about-us">
  <div class="row text-center full-width">

    <div class="row">
      <div class="medium-8 columns small-centered">
        <h1 id="title">About</h1> 
      </div>
    </div>

  </div>
</section>

<section id="team-members">
  <div class="row text-center full-width">
    <div class="medium-8 columns small-centered"

      <div class="row">
        <div class="medium-8 columns small-centered">
          <h1 id="title">Team</h1> 
        </div>
      </div>

      <div class="row">
        <div class="medium-6 large-3 columns">
          Picture 1
        </div>
        <div class="medium-6 large-3 columns">
          Picture 2
        </div>
        <div class="medium-6 large-3 columns">
          Picture 3
        </div>
        <div class="medium-6 large-3 columns">
          Picture 4
        </div>
      </div>

    </div>
  </div>
</section>






















