<div id="welcome-container">
  <section>
    <meta name="viewport" content="width=device-width, user-scalable=yes">

    <div class="contain-to-grid sticky">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">Klassewerk</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li><a href="#">Log In</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Team</a></li>
          </ul>
        </section>
      </nav>
    </div>

  </section>

  <section id="hero">
    <div class="row text-center full-width">
      <div class="medium-8 columns small-centered">
        <h1 id="title">Klassewerk</h1> 
        <h4 id="tagline">A simple worksheet app for teachers and students.</h4>
      </div>
    </div>

    <div class="row buttons">
      <div class="small-10 medium-8 columns small-centered">
        <div class="row">
          <div class="medium-6 columns text-center">
            <h3>Students</h3>
            <a href="/auth/student_login" class="button full-width">Student Log In</a>
            <a href="/auth/student_signup" class="button success full-width">New Student</a>
          </div>
          <div class="medium-6 columns text-center">
            <h3>Teachers</h3>
            <a href="/auth/teacher_login" class="button full-width">Teacher Log In</a>
            <a href="/auth/teacher_signup" class="button success full-width">New Teacher</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row" id="learn-more">
      <div class="medium-8 columns small-centered text-center">
        <a href="#"><i class="fa fa-arrow-down"></i></a>
        </a>
      </div>
    </div>
  </section>

  <section id="about-us" class="info">
    <div class="row text-center full-width">

      <div class="row">
        <div class="small-10 medium-8 columns small-centered">
          <h1>About</h1> 
          <p>
            Klassewerk is a platform for teachers to upload and modify traditional paper worksheets and immediately share them with their students via a web interface. Once a student completes a worksheet, teachers are able to view their responses and provide instant feedback.
          </p>
        </div>
      </div>

    </div>
  </section>

  <section id="team-members" class="info">
    <div class="row text-center full-width">
      <div class="medium-8 columns small-centered"

        <div class="row">
          <div class="medium-8 columns small-centered">
            <h1>Team</h1> 
          </div>
        </div>

        <div class="row">
          <div class="medium-6 large-3 columns">
            Andrew Adams
          </div>
          <div class="medium-6 large-3 columns">
            Joe Webb
          </div>
          <div class="medium-6 large-3 columns">
            Adrian Tawadros
          </div>
          <div class="medium-6 large-3 columns">
            Spencer Zhang
          </div>
        </div>

      </div>
    </div>
  </section>

  <footer>
    <div class="row text-center full-width">

      <div class="row">
        <div class="medium-8 columns small-centered">
          <span>Copyright © 2014 Klassewerk</span> 
        </div>
      </div>

    </div>
  </footer>
</div>





















