<section>
<meta name="viewport" content="width=device-width, user-scalable=yes">

<nav class="top-bar" data-topbar>
  <section class="top-bar-section">
    <ul class="title-area">
      <li class="name">
        <a>Klasswerk</a>
      </li>
      <!-- <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li> -->
    </ul>
  </section>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
     
    </ul>
  </section>
</nav>

</section>


</br>
</br>
<h1><b><center>CLASSWORK</center><b></h1>
</br>
</br>




<div class="row">
 <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
  
  <li>
	<ul class="pricing-table">
	  <li class="title">Student</li>
	   <li class="cta-button"><a href="/auth/student_login" class="button">Student LogIn</a></li>
	   <li class="cta-button"><a href="/auth/student_signup" class="button">New Student</a></li>
	</ul>
 </li>

  <li>
	<ul class="pricing-table">
	  <li class="title">Teachers</li>
	   <li class="cta-button"><a href="/auth/teacher_login" class="button">Teacher LogIn</a></li>
	   <li class="cta-button"><a href="/auth/teacher_signup" class="button">New Teacher</a></li>
	</ul>
   </li>
  </ul>
 </div>


</br>
</br>


<div class="row">
  <div class="small-6 small-centered columns"> 
  	<a href="/about" class="button expand">About Us</a>
  </div>
</div>

</section>























