<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      {{#link-to "studentapp" tagName='h1' }}<a>Klasswërk</a>{{/link-to}}
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      {{#link-to "todo" tagName='li' }}<a>Todo</a>{{/link-to}}
      {{#link-to "completed" tagName='li' }}<a>Completed</a>{{/link-to}}
      <li><a href='/auth/logout'>Logout</a></li>
    </ul>
  </section>
</nav>

<div class="row">
  <div class="small-4 column">
    <div class="left-div">
      {{outlet left}}
    </div>
  </div>
  <div class="small-8 column">
    <div class="right-div">
      {{outlet right}}
    </div>
  </div>
</div>