<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      {{#link-to "teachers" tagName='h1' }}<a>Klasswerk</a>{{/link-to}}
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      {{#link-to "teachers" tagName='li' }}<a>Classes</a>{{/link-to}}
      {{#link-to "worksheets" tagName='li' }}<a>Worksheets</a>{{/link-to}}
      {{#link-to "teachers" tagName='li' }}<a>Account</a>{{/link-to}}
      <li><a href='/auth/logout'>Logout</a></li>

    </ul>
  </section>
</nav>

{{outlet}}