<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      {{#link-to "teacherapp" tagName='h1' }}<a>Klassewerk &middot; Teacher</a>{{/link-to}}
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      {{#link-to "worksheets" tagName='li' }}<a>Worksheets</a>{{/link-to}}
      {{#link-to "submissions" tagName='li' }}<a>Submissions</a>{{/link-to}}
      {{#link-to "account.edit" tagName='li' }}<a>Account</a>{{/link-to}}
      <li><a href='/auth/logout'>Logout</a></li>

    </ul>
  </section>
</nav>

<div class="row">
  <div class="small-4 column">
    <div class="left-div">
      {{outlet left}}
    </div>
  </div>
  <div class="small-8 column">
    <div class="right-div">
      {{outlet right}}
    </div>
  </div>
</div>
