<h1>Worksheets</h1>

<p><b>Current Worksheets</b></p>
<div class="container">
  <div class="eleven columns centered">
    <ol>
      {{#each}}
        <li>{{#link-to 'worksheet' id }}{{name}}{{/link-to}}</li>
      {{/each}}
    </ol>
  </div>
</div>
