<div data-alert></div>

<div data-alert class="alert-box secondary">
  <h4>Instructions</h4>
  <ul class="no-bullet">
    <li>Create a text box: Click anywhere on your Worksheet.</li>
    <li>Resize a text box: Drag from the bottom right corner of the text box.</li>
    <li>Move a text box: Drag from the middle of the text box.</li>
    <li>Delete a text box: Click the <i class="fa fa-times"></i> in the top left corner of the text box.</li>
    <li>Save/Submit to Students: Click the <i class="fa fa-floppy-o"><b>&nbsp;Save</b></i> button below.</li>
  </ul>
  <a href="#" class="close"><i class="fa fa-times"></i></a>
</div>


<span id="edit-ws-title">{{view Ember.TextField value=name}} <button {{action "saveTags"}} class="button small"><i class="fa fa-floppy-o"><b>&nbsp;Save</b></i></button></span>




<hr>
<div id="image_panel">
  <div class="post_board">
    <img {{bind-attr class="worksheet-img" src='url'}} />
  </div>
</div>
