<div data-alert></div>

<span id="edit-ws-title">{{view Ember.TextField value=name}} <button {{action "saveTags"}} class="button small"><i class="fa fa-floppy-o"><b>&nbsp;Save</b></i></button></span>
<hr>
<div id="image_panel">
  <div class="post_board">
    <img {{bind-attr class="worksheet-img" src='url'}} />
  </div>
</div>
