<h1>{{name}}</h1>
  <button {{action "saveTags"}}>Save Tags</button>
 
  <div id="image_panel">
    <div class="post_board">
      <img {{bind-attr class="worksheet-img" src='url'}} />
    </div>
  </div>
