/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require jquery-ui
 */


.drop_image {
   border: 2px dotted #3498db;
   padding: 20px;
}

#image_panel {
  position: relative;
  width: 600px;
  margin: 20px auto;

}

.worksheet-img {
  width: 100%;
}

#board_selector {
  position: fixed;
  z-index: 1000;
  min-width: 120px;
  height: 100%;
  padding: 4px;
  padding-right: 20px;
  background-color: #eee;
  border-right: 1px solid #ddd;
  float: left;
}

#board_selector h3 {
  margin-top: 0;
}

ul#board_list {
  padding-left: 20px;
}

ul#board_list li {
  cursor: pointer;
  color: #222;
  list-style-type: none;
}

ul#board_list li:hover {
  color: #555;
  background-color: #bbb;
}

ul#board_list li.active {
  list-style-type: disc;
}

.post_board {
  background-color: #9e8d68;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1000;
}

.post-it {
  position: absolute !important;
  min-width: 2em;
  min-height: 2em;
  background-color: rgba(255, 255, 255, 0.8);
  /*  box-shadow: -2px 2px 5px #555;*/
  border: 1px solid black;
  overflow: hidden;
  z-index: 1001;
}

.post-it .content {
  padding: 10px;
  min-height: 70px;
  outline: none;
}

.post-it .destroy {
  padding-left: 5px;
}

.upload-form{
  padding: 10px 0;
  max-width: 450px;
  margin: 10px 0 10px;
}

.image-processing span {
  display: inline-block;
  vertical-align: middle;
}

.image-processing span label{
  display: inline-block;
  vertical-align: middle !important;
}

.thumbnail {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.thumbnail img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.rot-90 img {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.rot-180 img {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rot-270 img {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
.radio-selected {
  border: 1px solid blue;
}
