/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require jquery-ui
 */

#image_panel {
  position: relative;
  width: 600px;
  margin: 20px auto;

}

.worksheet-img {
  width: 100%;
}

#board_selector {
  position: fixed;
  z-index: 1000;
  min-width: 120px;
  height: 100%;
  padding: 4px;
  padding-right: 20px;
  background-color: #eee;
  border-right: 1px solid #ddd;
  float: left;
}

#board_selector h3 {
  margin-top: 0;
}

ul#board_list {
  padding-left: 20px;
}

ul#board_list li {
  cursor: pointer;
  color: #222;
  list-style-type: none;
}

ul#board_list li:hover {
  color: #555;
  background-color: #bbb;
}

ul#board_list li.active {
  list-style-type: disc;
}

.post_board {
  background-color: #9e8d68;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1000;
}

.post-it {
  position: absolute !important;
  width: 160px;
  background-color: rgba(255, 255, 255, 0.8);
  /*  box-shadow: -2px 2px 5px #555;*/
  border: 1px solid black;
  overflow: hidden;
  z-index: 1001;
}

.post-it .header {
  background-color: white;
  box-shadow: -2px 2px 5px #555;
  text-align: right;
  padding: 2px;
}

.post-it .header:hover {
  background-color: #a8a860;
}

.post-it .header a,
.post-it .header a:visited {
  text-decoration: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.post-it .header a:hover {
  color: #eee;
}

.post-it .content {
  padding: 10px;
  min-height: 70px;
  outline: none;
}

.upload-form{
  padding: 10px 0;
  max-width: 450px;
  margin: 10px 0 10px;
}

.thumbnail {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.thumbnail img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.rot-90 img {
  transform: rotate(90deg);
}
.rot-180 img {
  transform: rotate(180deg);
}
.rot-270 img {
  transform: rotate(270deg);
}
.radio-selected {
  border: 1px solid blue;
}
