.full-width {
  width: 100%
}

#welcome-container {
  h1, h3 {
    font-family: 'Raleway', sans-serif;
  }
}

#hero {
  min-height: 100%;

  #learn-more {
    position: relative;
    padding: 30px 0;
    font-size: 3em;
    a {
      color: black;
    }
  }
}

#about-us {
  color: white;
  background-color: black;
  h1 {
    color: white;
  }
  background-image: url(/images/joe-hands.jpg);
  background-size: cover;
}

.info {
  padding: 20px 0;
}

footer {
  color: white;
  font-size: .7em;
  background-color: #333333;
}

.gravatar {
  margin: 20px 0;
  img {
    border-radius: 50%;
    overflow: hidden;
  }
}


@media only screen {

  #hero {
    padding-top: 15px;
    h1 {
      font-family: 'Raleway', sans-serif;
      font-size: 3em;
    }
  }

}

@media only screen and (min-width: 40.063em) {

  #hero {
    padding-top: 20px;
    h1 {
      font-size: 5em;
      margin-bottom: 0;
    }
    #tagline {
      margin-bottom: 15px;
    }
  }

}

@media only screen and (min-width: 64.063em) { 

  #hero {
    padding-top: 20px;
    h1 {
      font-size: 6em;
    }
    #tagline {
      margin-bottom: 30px;
    }
  }

}